[submodule ".powerlevel10k"]
	path = .powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
