snippet quot "Latex Quotations"
	\`\`${1}''

snippet br "bracket"
	\\left[$1\\right] $0

snippet pa "parentheses"
	\\left($1\\right) $0

snippet brc "braces"
	\\left\\{$1\\right\\} $0
endsnippet

snippet bmat "bmatrix"
	\\begin{bmatrix}
		$1
	\\end{bmatrix} $0

snippet bb "mathbb"
	\\mathbb{$1}$0

snippet beg "begin{} / end{}" b
	\begin{$1}
		$0
	\end{$1}

snippet mk "Math"
	\$${1}\$

snippet dm "Math" w
	\[
	$1
	.\] $0

snippet = "andequals"
	&= $0
