[Desktop Entry]
Categories=GTK;AudioVideo;Audio;
Comment[en_US]=Audio Effects for PipeWire Applications
Comment=Audio Effects for PipeWire Applications
DBusActivatable=true
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=easyeffects com.github.wwmm.easyeffects --gapplication-service
GenericName[en_US]=Equalizer, Compressor and Other Audio Effects
GenericName=Equalizer, Compressor and Other Audio Effects
Icon=com.github.wwmm.easyeffects
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
MimeType=
Name[en_US]=Easy Effects
Name=Easy Effects
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=com.github.wwmm.easyeffects
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
