[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/krunner -d
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=krunner
Name=krunner
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
