[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment[en_US]=Private messaging from your desktop
Comment=Private messaging from your desktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=signal-desktop --file-forwarding org.signal.Signal --use-tray-icon --start-in-tray --enable-features=UseOzonePlatform --ozone-platform=wayland @@u %U @@
GenericName[en_US]=
GenericName=
Icon=org.signal.Signal
MimeType=
Name[en_US]=Signal
Name=Signal
Path=
StartupNotify=true
StartupWMClass=Signal
Terminal=false
TerminalOptions=
Type=Application
X-Desktop-File-Install-Version=0.26
X-Flatpak=org.signal.Signal
X-Flatpak-RenamedFrom=signal-desktop.desktop;
X-KDE-SubstituteUID=false
X-KDE-Username=
