snippet -> "right arrow" wA
→ $0
endsnippet

snippet => "right arrow equals" wA
⇒ $0
endsnippet

snippet <= "left arrow equals" wA
⇐ $0
endsnippet

snippet <- "back arrow" wA
← $0
endsnippet

snippet ** "boldface" wA
**$1** $0
endsnippet

snippet // "italics" wA
*$1* $0
endsnippet
