snippet snip "create new snippet" b
snippet $1 "${2:description}" ${3:w}
$4
`!p snip.rv='endsnippet'`
endsnippet

snippet con "context snippet" bA
context "${1:math()}"
snippet $2 "${3:description}" ${4:w}
$5
`!p snip.rv='endsnippet'`
endsnippet
