configuration {
	display-drun: "Programs";
	drun-display-format: "{name}";
}

@theme "base"

* {
	windowwidth: 25%;
	windowheight: 100%;
}


window {
	anchor: west;
	location: west;
}

element-icon {
	enabled: true;
}

/* vim:ft=css
