global !p
def math():
	return vim.eval('Syntax_in_mathzone()') == '1'
endglobal

context "math()"
snippet Vin "voltage in" wA
V_{in}
endsnippet

context "math()"
snippet Vout "voltage out" wA
V_{out}
endsnippet

context "math()"
snippet VDD "vdd" wA
V_{DD}
endsnippet

context "math()"
snippet gm "transconductance" wA
g_m
endsnippet

context "math()"
snippet ids "drain to source current" wA
I_{DS}
endsnippet
