global !p
def math():
	return vim.eval('Syntax_in_mathzone()') == '1'
endglobal

context "math()"
snippet eschr "schroding coefficient" wA
e^{-\\frac{iE_${1:n}t}{\\hbar}}
endsnippet

context "math()"
snippet bk "bracket" wA
\\langle $1 \\rangle
endsnippet
