[Desktop Entry]
Name=MatLab
GenericName=matlab
GenericName[en_US]=matlab
Exec=~/.local/MATLAB/bin/matlab -desktop
Terminal=false
NoDisplay=false
Type=Application
Categories=Graphics;2DGraphics;Viewer;
Name[en_US]=matlab
Icon=matlab
Keywords=science;math;
