[Desktop Entry]
Type=Application
Name=nnn
Comment=Terminal file manager
Exec=tmux new-session "nnn -ae -P p"
Terminal=true
Icon=nnn
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
